.masthead-nav > li {
    display: inline-block;
}
.masthead-nav > li + li {
    margin-left: 20px;
}
.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    /* IE8 proofing */
    color: rgba(40,40,40, .9);
    border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    background-color: transparent;
/*    border-bottom-color: #a9a9a9;*/
    border-bottom-color: rgba(40, 40, 40, .9);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color:  rgba(140, 40, 40, .9);
    border-bottom-color: rgba(40, 40, 40, .9);
}
@media (min-width: 768px) {
    .masthead-nav {
        float: right;
        padding: 1em 2em 0 0;
    }
}

.mastfoot {
    color: rgba(255, 255, 255, .5);
    clear: both;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 9em;
}
    
.masthead {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
