<!DOCTYPE html>
<html lang="en" data-ng-app="adminApp" data-ng-controller="ImagesCtrl as imagesCtrl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Admin - Images</title>

    <link rel="icon" type="image/png" href="/img/favicon7.png">
    
    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="/css/admin.css" rel="stylesheet">
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="nav nav-tabs">
                    <li role="presentation"><a href="/admin">Home</a></li>
                    <li role="presentation"><a href="/admin/dates">Dates</a></li>
                    <li role="presentation" class="active"><a href="/admin/images">Images</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h1>Modify Images</h1>
                        <table class="table table-bordered table-striped">
                            <thead>
                                <th>DATE</th>
                                <th>TEXT</th>
                                <th>PATH</th>
                                <th></th>
                            </thead>
                            <tbody>
                                <tr class="lt-row" data-ng-repeat="image in images | orderBy: 'date_real'">
                                    <td>{{ image.date }}</td>
                                    <td>{{ image.text }}</td>
                                    <td>{{ image.path }}</td>
                                    <td>
                                        <button type="button" class="btn btn-danger" data-ng-click="delete(image)">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <button type="button" class="btn btn-primary" data-ng-click="showForm = true">Add Image</button>
                    </div>
                </div>
                <div class="panel panel-default" data-ng-show="showForm">
                    <div class="panel-body">
                        <div style="padding-top: 2em">
                            <form method="post" class="form-inline">
                                <div class="form-group form-group-sm form-padding">
                                    <label for="date">Date</label>
                                    <input type="text" class="form-control" id="date" name="date" data-ng-model="date" required/> 
                                </div>
                                <div class="form-group form-group-sm form-padding">
                                    <label for="text">Text</label>
                                    <input type="text" class="form-control" id="text" name="text" data-ng-model="text"  required/> 
                                </div>
                                <div class="form-group form-group-sm form-padding">
                                    <label for="path">Path</label>
                                    <input type="text" class="form-control" id="path" name="path" data-ng-model="path" required /> 
                                </div>
                                <div class="form-group form-group-sm form-padding">
                                    <button type="button" class="btn btn-default form-control" data-ng-click="showForm = false">Cancel</button>
                                    <button type="button" class="btn btn-success form-control" data-ng-click="submit()">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
    <script src="/js/angular/angular.min.js"></script>
    <script src="/js/angular-route/angular-route.min.js"></script>
    <script src="/js/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/js/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    
    <script src="/admin/app.js"></script>
    <script src="/admin/services.js"></script>
    <script src="/admin/controller/images.js"></script>
</body>
</html>